RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . app

# so Yii knows it's the production server
# per DH, environment variables set with Apache must have the HTTP_ prefix
# see http://wiki.dreamhost.com/Suexec#Apache_Module_mod_env for details
SetEnv HTTP_2B_PRODUCTION true
