<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in " ng-if="runAnimation">
          <span title="erica vhay oil painter">
          <strong>{{work.name}}<span class="highlight">.</span></strong>
            </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container fade-in" ng-if="runAnimation">
  <h1 title="flagstaff oil painter erica vhay work title"></h1>
  <div class="row ">
    <!--Body content-->
    <div class="detail">
      <div class="col-md-4 col-sm-6">
        <div class="detail-card">
          <p>
            {{work.width}}" x {{work.height}}"
          </p>
          <p>{{work.notes}}</p>
          <p>
            {{work.date | date:'MMM yyyy' }}
          </p>

          <hr/>
          <div ng-if="!work.sold" class="text-muted text-right">
            purchase inquiries, contact: <br/>
            <h4><strong><a ng-href="#/gallery/{{work.gallery.id}}" >
              {{work.gallery.name}}
            </a></strong></h4>
            <span class="">{{work.gallery.contact}}</span><br/>
            <span class="phone"><a href="tel:{{gallery.phone}}">{{work.gallery.phone}}</a></span><br/>
            <span class="email">{{work.gallery.email}}</span>
            <span class="address">{{work.gallery.location}}</span><br/>
          </div>
          <p ng-if="work.sold"> [ sold ]
          </p>
          <a ng-if="currentUser" title="update" href="#/work/update/{{work.id}}"><i
              class="glyphicon-pencil glyphicon"></i>
            edit
          </a>


        </div>
      </div>
      <div class="col-md-8 col-sm-6" class="">
        <div class="text-right">
          <img ng-src="{{work.imageUrl}}" alt="{{work.name}}"
               style="max-width: 100%; max-height: 500px; width: auto; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>