<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->


      Sort by:
      <select ng-model="orderProp">
        <option value="-date">newest</option>
        <option value="name">alphabetical</option>
        <option value="date">oldest</option>
      </select>

    </div>
  </div>
  <div class="row">
    <!--Body content-->

    <div>
      <ul class="grid" masonry="true">
        <li masonry-tile class=""
            ng-repeat="work in works | filter:{archive:false} | filter:{featured:true} | orderBy:orderProp"
            class="thumbnail work-listing">
          <div class="tile-container ">
            <a href="#/work/{{work.id}}" class="thumb"><img ng-src="{{work.imageUrl}}" alt="{{work.name}}"></a>
            <div class="caption">
              <a class="title" href="#/work/{{work.id}}">{{work.name}}</a>
              <br/>
              <div class="pull-right">
                <a ng-hide="work.sold" class="inquire" href="#/work/inquire/{{work.id}}" title="inquire for purchase">[
                  inquire ]</a>
                <span ng-show="work.sold" class="sold">[ sold ]</span>
              </div>
              <span class="notes">{{work.width}}" x {{work.height}}" <span
                  ng-if="work.notes">{{ '/' + work.notes }}</span> </span><br/>

            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>


