<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in " ng-if="runAnimation">
          <span title="erica vhay oil painter">
          <strong>featured work<span class="highlight">.</span></strong></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--Sidebar content-->
      <ul class="list-inline button-list">
        <li ng-repeat="style in featuredStyles" class="style-listing ">
          <span ng-if="!$first"> | </span><a href="" ng-click="filterOnStyle( style )" title="oil painting style">{{style.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row fade-in" ng-if="runAnimation">
    <!--Body content-->
    <div class="col-md-12">

      <div masonry class="grid  ">
        <div class="masonry-brick"
             ng-repeat="work in works | filter:{archive:false} | filter:{featured:true} | filter:filters | orderBy:orderProp"
             class="thumbnail work-listing  {{work.style}} ">
          <div class="tile-container ">
            <a href="#/work/{{work.id}}" class=""><img ng-src="{{work.imageUrl}}" alt="{{work.name}}"></a>
            <div class="caption">
              <h3 >
                <a class="title" href="#/work/{{work.id}}">{{work.name}}</a>
              </h3>
              <div class="pull-right">
                <a ng-show="work.sold==false" class="inquire" href="#/work/{{work.id}}"
                   title="inquire for purchase">[
                  inquire ]</a>
                <span ng-show="work.sold==true" class="sold">[ sold ]</span>
              </div>
              <span class="notes">{{work.height}}" x {{work.width}}" <span
                  ng-if="work.notes">{{ ' / ' + work.notes }}</span> </span><br/>
              <a  ng-if="currentUser"  title="update" href="#/work/update/{{work.id}}"><i class="glyphicon-pencil glyphicon"></i>
                edit
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


