<div class="label-print">
  <div class="" ng-repeat="work in selected" >
    <div class="printLabel">
      <img src="{{work.imageUrl}}" />
      <div style="float:left; ">

        <p>
          <span class="title" style="font-size:14px;" class="name">{{work.name}}</span><br/>
          <strong>erica vhay</strong><br>

          {{work.width}}" x " {{work.height}}<br/>
          <span ng-if="work.notes">{{work.notes}}<br/></span>
          ${{work.price}}
        </p>
      </div>

      <div class="clear clearfix" style="height:0px; clear:both;"></div>
    </div>
  </div>

</div>
<div class="clear" style="height:30px;"></div>

<a href="" ng-click="doneLabels()" >done</a>