<div class="label-print">
  <div class="" ng-repeat="work in selected" >
    <div class="printLabel">
      <img src="{{work.imageUrl}}" alt=""
           style="float:left; margin-right: 10px; max-height:100px; max-width:60px;">

      <div style="float:left; ">

        <p>
          <strong>erica vhay</strong><br>

          {{work.width}}" x " {{work.height}}
          <span ng-if="work.notes"> / {{work.notes}}</span><br>
          ${{work.price}}
        </p>
      </div>
      <div class="clear clearfix" style="height:10px; clear:both;"></div>
      <strong style="font-size:18px;" class="name">{{work.name}}</strong>
      <div class="clear clearfix" style="height:10px; clear:both;"></div>
    </div>
  </div>

</div>
<div class="clear" style="height:30px;"></div>

<a href="" ng-click="doneLabels()" >done</a>