<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in pull-right" if="runAnimation">
          <span title="erica vhay oil painter">erica vhay</span>. <strong>her story.</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="dark-section">

  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <p class="lead pad-top pad-bottom">Erica has always pursued art. <strong>It is in her heart, her head and her
          history.</strong>
        </p>
      </div>

      <div class="col-sm-7 " style="height:270px; overflow: hidden;">
        <div class="pull-right">

          <iframe src="//player.vimeo.com/video/106777719?wmode=transparent" width="500" height="281" frameborder="0"
                  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container  ">
  <div class="divline">
    <div class="fade-in row">
      <ul class="list-unstyled">
        <li>  
          <div class="col-sm-3 date"><span>1970</span></div>
          <div class="col-sm-9 description">
            <h2>Foundation Carved in Stone</h2>
            <p><strong>Erica Vhay</strong> was born into a family of architects and artists. Her great grandfather
              Gutzon Borglum and <h></h>is son Lincoln Borglum - were famous for their <strong>sculpting of Mt.
                Rushmore</strong> and many other works of art.</p>
          </div>
        </li>
        <li>
          <div class="col-sm-3 date"><span>1993</span></div>
          <div class="col-sm-9 description">
            <h2>Art in the Heart</h2>
            <p>Erica received a degree in <strong>Ceramics</strong> from the University of Oregon. She spent much of her
              education in art classes, emphasizing <strong>ceramics, sculpture and drawing</strong>. She opened her own
              studio after graduating in 1993, producing sculpture and functional pottery for two years in Eugene.</p>
          </div>
        </li>
        <li>
          <div class="col-sm-3 date"><span>1999</span></div>
          <div class="col-sm-9 description">
            <h2>Designer Looking for More...</h2>
            <p>Erica moved to Boulder, CO and took up <strong>graphic design</strong>, working on industrial graphic
              design for music CDs and product packaging. While living in Boulder, she married a great guy who had
              followed her from Eugene. It was also during this div she took up drawing in earnest - working primarily
              with pastels. In 1999 she moved to a remote ranch in Montana, an elk hoof's throw from the Yellowstone
              river. She continued <strong>sketching and began painting</strong> - taking classes at Montana State
              University. </p>
          </div>
        </li>


        <li>
          <div class="col-sm-3 date"><span>2001</span></div>
          <div class="col-sm-9 description">
            <h2>New Faces</h2>
            <p>From there she moved to the Phoenix area and produced two fine works that are still in progress -
              <strong>Miles Lincoln Brown</strong>, born 2001, and <strong>Leopold Ivan Brown</strong>, born 2003.
              Though the sculpting of these two works impacted her productivity for several years, she excelled as a
              <strong>web designer</strong>. </p>
          </div>
        </li>

        <li>
          <div class="col-sm-3 date"><span>2006</span></div>
          <div class="col-sm-9 description">
            <h2>Getting Settled -- Getting Started</h2>
            <p>Erica and family moved to <strong>Flagstaff, AZ</strong> in 2006. Erica focused on <strong>oil
              painting</strong> from this div forward.
              Her subject matter is in constant rotation - with frequent portraits, landscapes, and foods.
              The scale of her paintings is also highly variable - ranging from 6"x6" to 60"x60".
              She currently shows work at <a href="/portfolio/gallery/galleries">several venues</a>.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
