<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in " if="runAnimation">
          <span title="erica vhay oil painter"> <strong>her story<span class="highlight">.</span></strong></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="light-section">

</div>

<div style="height:40px; clear:both; "></div>

<div class="container  ">
  <div class="row">
    <div class="col-sm-5">

      <h2>talent<span class="highlight">.</span> dedication<span class="highlight">.</span> courage<span
          class="highlight">.</span></h2>
      <p class="lead pad-top pad-bottom">Erica's <strong>talent is evident in her compositions</strong>
        and ability to convey emotional content in her work.

        Professional artistic execution requires more than talent; it requires long hours of practice.
        Erica's <strong>dedication to her work</strong> has kept her in the studio day after day for years to develop
        her skill.

        Her talent and dedication have served her well. In addition to these ingredients,
        <strong>Erica's creative secret is courage</strong>.
        Courage gives her ability to continue experimenting, to apply her brush boldly,
        and evaluate her work unflinchingly.
      </p>
      <p class=" ">
        Her subject matter varies with frequent forays into portraiture, landscapes, food, and abstracts.
        The scale of her paintings varies widely as well - ranging from small 6" x 6" pieces to huge 60" x 60".
      </p>
      </p>
      <p>
        Today, she shows in <a href="#/venues">several venues</a>. If you are interested in adding
        Erica's work to your venue, please contact <a href="#/contact">Darryl Brown</a>.
      </p>

      <div class="" style="height:20px; clear: both;">
      </div>

      <!-- iframe src="//player.vimeo.com/video/106777719?wmode=transparent" width="500" height="281" frameborder="0"
              webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe -->
    </div>
    <div class="col-sm-7 ">
      <dl class="timeline dl-horizontal">
        <dt class="">
        <div class="lead">1970</div>
        </dt>
        <dd class=" description">
          <div class="lead">Ancestry</div>
          <p><strong>Erica Vhay</strong> was born into a family of architects and artists. Her great grandfather
            Gutzon Borglum and
            his son Lincoln Borglum were famous for their <strong>sculpting of Mt.
              Rushmore</strong> and many other renowned works of art.
          </p>
          <hr/>
        </dd>
        <dt>
        <div class="lead">1993</div>
        </dt>
        <dd class=" description">
          <div class="lead">Education</div>
          <p>Erica received a degree in <strong>Art History</strong> from the University of Oregon.
            She spent much of her
            education in art classes, emphasizing <strong>ceramics, sculpture and drawing</strong>.
            She opened her own ceramics
            studio after graduating in 1993, producing sculpture and functional pottery.</p>
          <hr/>
        </dd>

        <dt>
        <div class="lead">1999</div>
        </dt>
        <dd class=" description">
          <div class="lead">Profession</div>
          <p>Erica moved to Boulder, CO and worked as a graphic designer, creating industrial graphic
            designs for audio CDs and product packaging. While living in Boulder, she married a great guy who had
            followed her from Eugene. It was also during this time changed her artistic focus from ceramics
            to drawing &dash; working primarily
            with pastels. In 1999 she moved to a remote ranch in Montana, an elk hoof's throw from the Yellowstone
            river. She continued <strong>sketching and painting</strong> - taking classes at Montana State
            University. </p>
          <hr/>
        </dd>

        <dt>
        <div class="lead">2001</div>
        </dt>

        <dd class=" description">
          <div class="lead">Progeny</div>
          <p>From there she moved to the Phoenix area and produced two fine works that are still in progress -
            <strong>Miles Lincoln Brown</strong>, born 2001, and <strong>Leopold Ivan Brown</strong>, born 2003.
            Though the sculpting of these two works impacted her productivity in other areas for a time, she excelled
            as a <strong>web designer</strong> and continued producing her own visual artwork.
          </p>
          <hr/>
        </dd>

        <dt>
        <div class="lead">2006</div>
        </dt>
        <dd class="description">
          <div class="lead">Focus</div>
          <p>Erica and family moved to <strong>Flagstaff, AZ</strong> in 2006. Erica focused on <strong>oil
            painting</strong> from this point forward. She began producing focused work and was able to
            dedicate a big part of her life to her art. She began showing at many venues in Flagstaff, Arizona and
            selling her unique style of work. Her portraiture in particular was a new take on a classic style
            and has been well recieved.
          </p>
          <hr/>
        </dd>

        <dt>
        <div class="lead">2016</div>
        </dt>
        <dd class="description">
          <div class="lead">Today</div>
          <p>Over the last ten years, Erica's career has picked up wide following with collectors across the United
            States.
            She has participated in many shows as an artist and juried shows as well.
          </p>

          <hr/>
        </dd>
      </dl>
    </div>
  </div>
</div>
