/* app css stylesheet */


.thumb {
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: auto;
  max-height: 400px;

}

ul.works {
  list-style: none;

}

.works li {
  float:left;
  margin-bottom: 10px;

}

.works li img {
  width:100%
}
