/* app css stylesheet */

body {

  font-family: 'Noto Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Raleway', sans-serif;

  background-color: #ffffff;
}

a {
  color: #d24d57;
}

hr {
  border-color: #d24d57;
}

a:hover, li.active a, a.active {
  color: #880000;
  text-decoration: none;
}

.view-container {
  min-height: 400px;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.thumb {
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: auto;
  max-height: 400px;

}

/* menu **/

.menu-spacer {
  height: 80px;
  clear: both;
  background-color: #ffffff;
}

.navbar-default {
  background-color: #ffffff;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: #737373;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a::selection {
  color: #d24d57;
}

.navbar-header a {
  color: #999999;
}

.navbar-header {
  /* font-family: 'Bitter', serif; */
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999999;
  /* font-weight: bold; */
  position: relative;
}

.vhay-nav {
  margin-top: 8px;
  font-size: 20px;
  margin-left: 15px;
}


.navbar-header .vhay {
  color: #d24d57;
}

.navbar-header .subtitle {
  font-size: 14px;
  /* position: absolute; */
  /*
  top: 49px;
  left: 126px;
  */
}

.navbar-header span.hover-true {
  color: #d24d57;
}

/*  work/portfolio theme **/

.tile-container {
  margin-right: 10px;
  position: relative;
  /* box-shadow: 4px 4px 2px #888888; */
  border-radius: 0px;
}

.tile-container .caption {
  width: 100%;
  position: relative;
  bottom: 0;
  opacity: 1.0;
  font-size: 14px;
  color: #737373;
  padding: 5px;
  background-color: #ffffff;
}

.tile-container .caption a {
  /* color: #710909; */
}

.tile-container .caption a:hover {
  color: #880000;
  text-decoration: none;
}

.tile-container .caption .title {
  /*
  font-weight: bold;
  */
  font-size: 20px;
}

.sold {
  color: #2e2e2e;
  font-weight: bold;
}

.tile-container .caption.show_true {
  opacity: 1.0;
}

.tile-container img.selected-true {
  box-sizing: border-box;
  border: 3px #fc0 solid;
}


/* grid css */

.grid img ,
.small-grid img {
  max-width: 100%
}

/* masonry */
.grid {
  border: none;
  padding: 0;
  margin: 0;
}

.grid > div ,
.small-grid > div {
  width: 24.9%;
  display: inline-block;
  height: auto;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.small-grid > div {
  width: 9.9%
}

@media (min-width: 991px) and (max-width: 1200px) {
  .grid > div {
    width: 33.33%;
  }
  .small-grid  > div {
    width: 9.9%
  }
}

@media (min-width: 770px) and (max-width: 990px) {
  .grid > div {
    width: 50%;
  }
  .small-grid  > div {
    width: 9.9%
  }
}

@media (max-width: 769px) {
  .grid > div {
    width: 100%;
  }

  .small-grid  > div {
    width: 24.9%
  }
  .vhay-nav
  {
    border: none;
  }

  .left-buffer {
    margin-left: 10px;
  }
}



/**** word-detail ****/
.detail {
  font-size: 18px;
}

.detail-card {
  background-color: #ffffff;
}

.detail-card {
  /* box-shadow: 4px 4px 2px #888888; */
}

.detail img {
  /* box-shadow: 4px 4px 2px #888888; */
  width: 100%;
}

.title {

}

/** admin **/

ul.admin li .admin-row-container {
  clear: both;
}

ul.admin li .admin-row-container img {
  float: left;
  max-height: 50px;
  margin-right: 10px;
}

/**** Transitions ****/
.masonry,
.masonry li { /* apply before masonry add class */
  position: absolute; /* important to add it before enter animation start */

  -webkit-transition-duration: .7s;
  transition-duration: .7s;

  -webkit-transition-property: all;
  transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

div.footer {
  margin-top: 0px;
  border-top: 1px solid #e7e7e7;
  background-color: #ffffff;
  color: #999999;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  width: 100%;
  overflow: hidden;
}


h1 {
  font-size: 75px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 10px;

  /*
  font-family: 'Bitter', serif;
  */
}

/* formatting */

.text-large {
  font-size: 48px;
}

.dark-section {
  background-color: #2e2e2e;
  color: #acacac;
}

.timeline.dl-horizontal dt {
position: relative;
  top:0px;
  color: #d24d57;
}

.timeline.dl-horizontal dt > div {
  posiiton: relative;
}

.timeline.dl-horizontal dd.description {
  position: relative;
  margin-bottom:60px;
}

.timeline.dl-horizontal dd.description>div {
  top: 0px;
  font-family: 'Bitter', serif;
  font-weight: 900;
  position: relative;
  color: rgba(200, 200, 200, 1);
}

.pad-top {
  padding-top: 35px;
}

.pad-bottom {
  padding-bottom: 35px;
}

.intro-title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #737373;
  min-height: 174px;
}

.highlight {
  color: #d24d57;
}

.intro-title-admin {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 27px;
  color: #737373;
}

.button-list li {
  margin-bottom: 15px;
}

.button-list li a {
  border-radius: 2px;
  padding: 5px;
  margin-left: 5px;
  /* border: 1px solid #737373; */
  color: #737373;
}

.button-list li a:hover,
.button-list li a:focus,
.button-list li a:active {
  background: #737373;
  color: #ffffff;
}

.off-right {
  position: relative;
  /* right:105%; */
}

.overflow-hidden {
  overflow: hidden;
}


.label-print {
  padding: 20px;
  padding-bottom: 100px;
}

.printLabel .imageContainer
{
  height: 100px;
  width: 100px;
  float:left;
  margin-right: 10px;
  vertical-align: top;
  border:none;
}
.printLabel img
{
  max-width: 100%;
  max-height: 100%;
}

.printLabel {
  width: 2.95in;
  height: 1.5in;
  margin-top: .25in;
  margin-right: .25in;
  float: left;
  text-align: center;
  overflow: hidden;
}