<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Dosis:700,800,200,300,400' rel='stylesheet' type='text/css'>

  <!-- for CSS Transitions and/or Keyframe Animations -->
  <link rel="stylesheet" href="css/animations.css">

  <link rel="stylesheet" href="css/slider.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="menu/menu.css">
  <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="SiteCtrl">

<div ng-controller="menuCtrl">

  <div class="navbar navbar-fixed-top navbar-default left-buffer">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"  ng-click="toggleNav()" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#/portfolio"  title="flagstaff oil painter artist">
          erica <span class="vhay hover-{{hoverNav}}" ng-mouseover="setHover(true)"
                      ng-mouseout="setHover(false)">vhay</span>
          <span  class="subtitle">artist</span>
        </a>

      </div>
      <div class="collapse navbar-collapse vhay-nav navbar-right"  ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav">
          <li><a  ng-click="toggleNav('/portfolio')" ng-class="getClass('/portfolio')" href="#/portfolio">portfolio</a></li>
          <li><a  ng-click="toggleNav('/venues')" ng-class="getClass('/venues')"  href="#/venues">venues</a></li>
          <li><a  ng-class="getClass('/about')"  ng-click="toggleNav('/about')" href="#/about">about</a></li>
          <li><a  ng-class="getClass('/contact')" ng-click="toggleNav('/contact')" href="#/contact">contact</a></li>
          <li ng-if="currentUser" uib-dropdown on-toggle="toggled(close)">
            <a href uib-dropdown-toggle>admin</a>
            <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li role="menuitem"><a  ng-click="toggleNav('/gallery/admin')"  href="#/gallery/admin">gallery admin</a></li>
              <li role="menuitem"><a  ng-click="toggleNav('/gallery/create')"  href="#/gallery/create">create gallery</a></li>
              <li role="menuitem"><a  ng-click="toggleNav('/work/admin')"  href="#/work/admin">work admin</a></li>
              <li role="menuitem"><a  ng-click="toggleNav('/work/create')"  href="#/work/create">create work</a></li>
              <li role="menuitem"><a  ng-click="toggleNav('/work/sold')"  href="#/work/sold">sold work</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="menu-spacer">
  <!-- create a space for the menu to be at the top. -->
</div>

<div class="left-buffer">
  <div class="view-container">
    <div ng-view class="view-frame" autoscroll="true"></div>
  </div>
</div>


<div ng-controller="FooterCtrl">
  <div class="left-buffer"></div>
  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li>
              <a href="tel:928.255.8884" title="erica vhay phone number">928.255.8884</a><br/>
            </li>
            <li>
              <a href="mailto:info@ericavhay.com" title="erica vhay email">info@ericavhay.com</a><br/>
            </li>
          </ul>
        </div>

        <div class="col-sm-4">
          &copy; Erica Vhay, {{date | date:'yyyy'}}<br/>
          <a ng-if="!currentUser" href="#/login"><i class="glyphicon glyphicon-user"></i> login</a>
          <a ng-if="currentUser" href="#/logout"><i class="glyphicon glyphicon-star"></i></a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<!--  for masonry -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/jquery-bridget/jquery-bridget.js"></script>
<script src="../bower_components/ev-emitter/ev-emitter.js"></script>
<script src="../bower_components/get-size/get-size.js"></script>
<script src="../bower_components/desandro-matches-selector/matches-selector.js"></script>
<script src="../bower_components/fizzy-ui-utils/utils.js"></script>
<script src="../bower_components/outlayer/item.js"></script>
<script src="../bower_components/outlayer/outlayer.js"></script>
<script src="../bower_components/masonry/masonry.js"></script>
<script src="../bower_components/imagesloaded/imagesloaded.js"></script>
<!-- end masonry -->

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../bower_components/angular-masonry/angular-masonry.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- required module to enable animation support in AngularJS -->
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

<script src="app.js"></script>
<script src="js/filters.js"></script>
<script src="js/animations.js"></script>
<script src="work/work.js"></script>
<script src="js/services.js"></script>
<script src="menu/menu.js"></script>
<script src="user/user.js"></script>
<script src="style/style.js"></script>
<script src="gallery/gallery.js"></script>
<script src="footer/footer.js"></script>
<script src="js/site.js"></script>
<script src="components/version/version.js"></script>


</body>
</html>
