<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in " ng-if="runAnimation">
          <span title="erica vhay oil painter"> <strong>{{gallery.name}}<span class="highlight">.</span></strong></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row " style="margin-bottom:30px;">
    <!--Body content-->
    <div itemscope itemtype="http://schema.org/ArtGallery" class="detail">
      <div class="col-sm-4">
        <hr/>
        <div class="row">

          <div class="detail-card text-right">

            <span itemprop="contactPoint"><strong>
              {{gallery.contact}}
            </strong>
            </span><br/>
            <span itemprop="telephone">
            {{gallery.phone}}
            </span><br/>
            <span itemprop="email">
            {{gallery.email}}
            </span>
            <span ng-if="gallery.description" itemprop="description">
              {{gallery.description}}
            </span><br/>
            <span itemprop="address">
              {{gallery.location}}
            </span><br/>
            <span>
              <a itemprop="url" target="_blank" href="{{gallery.website}}" title="{{gallery.name}}"
                 style="position: relative; left:-5px;">
                website
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row fade-in" ng-if="runAnimation">
    <div class="col-md-12">
      <!--Body content-->
      <div masonry class="grid  ">
        <div class="masonry-brick"
             ng-repeat="work in gallery.works | filter:{archive:false}  | filter:filters | orderBy:orderProp"
             class="thumbnail work-listing  {{work.style}} ">
          <div class="tile-container ">
            <a href="#/work/{{work.id}}" class=""><img ng-src="{{work.imageUrl}}" alt="{{work.name}}"></a>
            <div class="caption">
              <h3>
                <a class="title" href="#/work/{{work.id}}">{{work.name}}</a>
              </h3>
              <div class="pull-right">
                <a ng-show="work.sold==false" class="inquire" href="#/work/inquire/{{work.id}}"
                   title="inquire for purchase">[
                  inquire ]</a>
                <span ng-show="work.sold==true" class="sold">[ sold ]</span>
              </div>
              <span class="notes">{{work.width}}" x {{work.height}}" <span
                  ng-if="work.notes">{{ ' / ' + work.notes }}</span> </span><br/>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>