<div class="intro-title">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-large fade-in " ng-if="runAnimation">
          <span title="erica vhay oil painter">
          <strong>art venues<span class="highlight">.</span></strong></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <!--Body content-->

    <div>
      <ul class="grid" masonry="true">
        <li masonry-tile class=""
            ng-repeat="gallery in galleries | filter:{active:true} "
            class="thumbnail work-listing" itemscope itemtype="http://schema.org/ArtGallery">
          <div class="tile-container ">
            <div class="caption">
              <h3>
                <a itemprop="name" class="title" href="#/gallery/{{gallery.id}}">{{gallery.name}}</a>
              </h3>
              <div class="pull-right">
                <a itemprop="telephone" class="phone" href="tel:{{gallery.phone}}" title="contact the gallery">{{gallery.phone}}</a><br/>
              </div>
              <p>
                <span itemprop="contactPoint" class="contact-name">{{gallery.contact}}</span><br/>
                <a itemprop="email" class="email" href="tel:{{gallery.phone}}" title="email the gallery">{{gallery.email}}</a><br/>
                <span itemprop="address" class="address">{{gallery.location}}</span>
              </p>

            </div>
            <a href="#/gallery/{{gallery.id}}" class=""><img ng-src="{{gallery.imageUrl}}" alt="{{gallery.name}}"></a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>


